<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.approveproject.springmvc.mapper.UserAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.approveproject.springmvc.pojo.UserAttachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="person_id" property="person_id" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="CHAR" />
    <result column="uploadtime" property="uploadtime" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, person_id, path, uploadtime, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_attachment_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_attachment_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.approveproject.springmvc.pojo.UserAttachment" >
  <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
  </selectKey>
    insert into user_attachment_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="person_id != null" >
        person_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="uploadtime != null" >
        uploadtime,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      
      <if test="person_id != null" >
        #{person_id,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=CHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.approveproject.springmvc.pojo.UserAttachment" >
    update user_attachment_table
    set person_id = #{person_id,jdbcType=INTEGER},
      path = #{path,jdbcType=CHAR},
      uploadtime = #{uploadtime,jdbcType=BIGINT},
      type = #{type,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>