<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.approveproject.springmvc.mapper.DetailMapper" >
  <resultMap id="BaseResultMap" type="com.approveproject.springmvc.pojo.Detail"  >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="application_id" property="application_id" jdbcType="INTEGER" />
    <result column="approvetime" property="approvetime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="approver_id" property="approver_id" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, application_id, approvetime, status, comments, approver_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detail_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  
<!--   查询某审核所有的明细 -->
  <select id="queryAllDetailsByAppID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  
  	select *from detail_table 
  	where application_id=#{application_id}
  
  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detail_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.approveproject.springmvc.pojo.Detail" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
    SELECT LAST_INSERT_ID()
    </selectKey>
    
    insert into detail_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="application_id != null" >
        application_id,
      </if>
      <if test="approvetime != null" >
        approvetime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="approver_id != null" >
        approver_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="application_id != null" >
        #{application_id,jdbcType=INTEGER},
      </if>
      <if test="approvetime != null" >
        #{approvetime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="approver_id != null" >
        #{approver_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.approveproject.springmvc.pojo.Detail" >
    update detail_table
    <set >
      <if test="application_id != null" >
        application_id = #{application_id,jdbcType=INTEGER},
      </if>
      <if test="approvetime != null" >
        approvetime = #{approvetime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="approver_id != null" >
        approver_id = #{approver_id,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
</mapper>