<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.approveproject.springmvc.mapper.ApproveAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.approveproject.springmvc.pojo.ApproveAttachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="application_id" property="application_id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="path" property="path" jdbcType="CHAR" />
    <result column="uploadtime" property="uploadtime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, application_id, type, path, uploadtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from approve_attachment_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from approve_attachment_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.approveproject.springmvc.pojo.ApproveAttachment" >
    insert into approve_attachment_table (id, application_id, type, 
      path, uploadtime)
    values (#{id,jdbcType=INTEGER}, #{application_id,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, 
      #{path,jdbcType=CHAR}, #{uploadtime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.approveproject.springmvc.pojo.ApproveAttachment" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
  </selectKey>
    insert into approve_attachment_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="application_id != null" >
        application_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="uploadtime != null" >
        uploadtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="application_id != null" >
        #{application_id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=CHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.approveproject.springmvc.pojo.ApproveAttachment" >
    update approve_attachment_table
    <set >
      <if test="application_id != null" >
        application_id = #{application_id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=CHAR},
      </if>
      <if test="uploadtime != null" >
        uploadtime = #{uploadtime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.approveproject.springmvc.pojo.ApproveAttachment" >
    update approve_attachment_table
    set application_id = #{application_id,jdbcType=INTEGER},
      type = #{type,jdbcType=CHAR},
      path = #{path,jdbcType=CHAR},
      uploadtime = #{uploadtime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selecLastestAttByID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  SELECT *FROM  approve_attachment_table a, (SELECT MAX(uploadtime) uploadtime from approve_attachment_table a2 WHERE a2.application_id=#{application_id,jdbcType=INTEGER}) a2

	WHERE a.uploadtime=a2.uploadtime
  </select>
  
  <select id="queryAllByAppID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select * from approve_attachment_table where application_id=#{app_id,jdbcType=INTEGER}
  </select>
</mapper>