<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.approveproject.springmvc.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.approveproject.springmvc.pojo.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.approveproject.springmvc.pojo.Role" >
    insert into role_table (name)
    values (#{name,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.approveproject.springmvc.pojo.Role" >
    update role_table
    set name = #{name,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
<!--   所有角色查询 -->
  <select id="getAllRole" parameterType="com.approveproject.springmvc.pojo.PageVo" resultMap="BaseResultMap">
  
  	select <include refid="Base_Column_List"></include>
  	from role_table
  
  </select>
</mapper>