<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.approveproject.springmvc.mapper.UserExpandMapper" >
  <resultMap id="BaseResultMap" type="com.approveproject.springmvc.pojo.UserExpand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="university" property="university" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="passed" property="passed" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, education, title, university, industry, company,passed
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_expand_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_expand_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.approveproject.springmvc.pojo.UserExpand" >
    insert into user_expand_table (id, education, title, 
      university, industry, company,passed
      )
    values (#{id,jdbcType=INTEGER}, #{education,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{university,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{passed,jdbcType=CHAR}
      )
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.approveproject.springmvc.pojo.UserExpand" >
    update user_expand_table
    <set >
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="university != null" >
        university = #{university,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="passed != null" >
        passed = #{passed,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.approveproject.springmvc.pojo.UserExpand" >
    update user_expand_table
    set education = #{education,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      university = #{university,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      passed = #{passed,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>